<appSettings>
  <!--<add key="MailServer" value="dev-smtp.rentaflick.com"/>-->
  <add key="FacebookAppId" value="576751329838727"/>
  <add key="FacebookAppSecret" value="b24104e2316bae1e7597fe600adb55b5"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
