<appSettings>
  <!--<add key="MailServer" value="dev-smtp.rentaflick.com"/>-->
  <add key="FacebookAppId" value=""/>
  <add key="FacebookAppSecret" value=""/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
